In [70]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import StandardScaler
import numpy as np

In [4]:
df = pd.read_csv('file:///Users/chrisfiorentine/Downloads/2019.csv')

In [5]:
df

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*\McCaCh01,CAR,RB,23,16,16,0,2,0,...,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson*\JackLa00,BAL,QB,22,15,15,265,401,3127,...,7,NaN,1.0,418.0,417.7,431.7,423.7,152.0,1,2.0
2,3,Derrick Henry*\HenrDe00,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones\JoneAa00,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,Ray-Ray McCloud\McClRa00,CAR,NaN,23,6,0,0,0,0,...,0,NaN,NaN,-2.0,-2.0,-1.0,-2.0,NaN,234,NaN
599,600,Darrius Shepherd\ShepDa00,GNB,WR,24,6,0,0,0,0,...,0,NaN,NaN,-2.0,-0.9,0.1,-1.4,NaN,233,NaN
600,601,Jarrett Stidham\StidJa00,NWE,QB,23,3,0,2,4,14,...,0,NaN,NaN,-2.0,-1.6,-0.6,-0.6,NaN,73,NaN
601,602,Michael Walker\WalkMi00,JAX,WR,23,7,0,0,0,0,...,0,NaN,NaN,-3.0,-0.5,1.5,-1.5,NaN,236,NaN
602,603,Corey Clement\ClemCo00,PHI,NaN,25,4,0,0,0,0,...,0,NaN,NaN,-4.0,-4.0,-2.0,-4.0,NaN,162,NaN

In [6]:
df.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank'],
      dtype='object')

In [10]:
df.shape

(603, 33)

In [11]:
df.rename({
'TD': 'PassingTD',
'TD.1': 'RushingTD',
'TD.2': 'ReceivingTD',
'TD.3': 'TotalTD',
'Yds': 'PassingYDs',
'Yds.1': 'RushingYDs',
'Yds.2': 'ReceivingYDs',
'Att': 'PassingAtt',
'Att.1': 'RushingAtt'
}, axis=1, inplace=True)

In [14]:
df.drop(['Rk', '2PM', '2PP', 'FantPt', 'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank', 'PPR', 'Fmb', 'GS'], axis=1, inplace=True)

In [15]:
rb_df = df[df['FantPos'] == 'RB']
qb_df = df[df['FantPos'] == 'QB']
wr_df = df[df['FantPos'] == 'WR']
te_df = df[df['FantPos'] == 'TE']

In [17]:
rb_df.columns

Index(['Player', 'Tm', 'FantPos', 'Age', 'G', 'Cmp', 'PassingAtt',
       'PassingYDs', 'PassingTD', 'Int', 'RushingAtt', 'RushingYDs', 'Y/A',
       'RushingTD', 'Tgt', 'Rec', 'ReceivingYDs', 'Y/R', 'ReceivingTD', 'FL',
       'TotalTD'],
      dtype='object')

In [18]:
rb_df = rb_df.drop(columns = ['Cmp', 'PassingAtt',
       'PassingYDs', 'PassingTD', 'Int'])

In [21]:
rb_df['FantasyPoints'] = rb_df['RushingYDs']*0.1 + rb_df['RushingTD']*6 + rb_df['Rec']
+ rb_df['ReceivingYDs']*0.1 + rb_df ['ReceivingTD']*6 - rb_df['FL']*2

0      124.5
2       26.6
3       61.4
4       50.0
5       47.9
       ...
535      0.0
547      0.0
573      0.0
576      0.4
578      0.1
Length: 153, dtype: float64

In [22]:
rb_df

,Player,Tm,FantPos,Age,G,RushingAtt,RushingYDs,Y/A,RushingTD,Tgt,Rec,ReceivingYDs,Y/R,ReceivingTD,FL,TotalTD,FantasyPoints
0,Christian McCaffrey*\McCaCh01,CAR,RB,23,16,287,1387,4.83,15,142,116,1005,8.66,4,0,19,344.7
2,Derrick Henry*\HenrDe00,TEN,RB,25,15,303,1540,5.08,16,24,18,206,11.44,2,3,18,268.0
3,Aaron Jones\JoneAa00,GNB,RB,25,16,236,1084,4.59,16,68,49,474,9.67,3,2,19,253.4
4,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,301,1357,4.51,12,71,54,420,7.78,2,2,14,261.7
5,Dalvin Cook*\CookDa01,MIN,RB,24,14,250,1135,4.54,13,63,53,519,9.79,0,2,13,244.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Dexter Williams\WillDe07,GNB,RB,22,4,5,11,2.20,0,0,0,0,NaN,0,0,0,1.1
547,James Develin\DeveJa00,NWE,RB,31,2,2,3,1.50,0,0,0,0,NaN,0,0,0,0.3
573,Alfred Morris\MorrAl00,ARI,RB,31,1,1,4,4.00,0,0,0,0,NaN,0,0,0,0.4
576,Roosevelt Nix\NixxRo01,PIT,RB,27,3,0,0,NaN,0,3,2,4,2.00,0,0,0,2.0
578,Senorise Perry\PerrSe00,BUF,RB,28,11,3,3,1.00,0,1,1,1,1.00,0,0,0,1.3

In [24]:
rb_df.sort_values('FantasyPoints', ascending = False)

,Player,Tm,FantPos,Age,G,RushingAtt,RushingYDs,Y/A,RushingTD,Tgt,Rec,ReceivingYDs,Y/R,ReceivingTD,FL,TotalTD,FantasyPoints
0,Christian McCaffrey*\McCaCh01,CAR,RB,23,16,287,1387,4.83,15,142,116,1005,8.66,4,0,19,344.7
2,Derrick Henry*\HenrDe00,TEN,RB,25,15,303,1540,5.08,16,24,18,206,11.44,2,3,18,268.0
4,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,301,1357,4.51,12,71,54,420,7.78,2,2,14,261.7
3,Aaron Jones\JoneAa00,GNB,RB,25,16,236,1084,4.59,16,68,49,474,9.67,3,2,19,253.4
5,Dalvin Cook*\CookDa01,MIN,RB,24,14,250,1135,4.54,13,63,53,519,9.79,0,2,13,244.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,Ryan Nall\NallRy00,CHI,RB,24,8,2,8,4.00,0,0,0,0,NaN,0,0,0,0.8
500,Tony Brooks-James\BrooTo01,PIT,RB,25,3,8,7,0.88,0,0,0,0,NaN,0,0,0,0.7
533,De'Lance Turner\TurnDe01,MIA,RB,24,8,4,6,1.50,0,0,0,0,NaN,0,0,0,0.6
573,Alfred Morris\MorrAl00,ARI,RB,31,1,1,4,4.00,0,0,0,0,NaN,0,0,0,0.4
547,James Develin\DeveJa00,NWE,RB,31,2,2,3,1.50,0,0,0,0,NaN,0,0,0,0.3

In [45]:
rb_df.fillna(0, inplace = True)

In [46]:
lr = LinearRegression()

In [47]:
drop_cols = ['Player','Tm','FantPos','FantasyPoints']

In [48]:
y = rb_df.FantasyPoints

In [49]:
train_rb_df = rb_df.drop(columns = drop_cols)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
      train_rb_df, y, test_size=0.20, random_state=42)

In [64]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train =pd.DataFrame(data=scaler.transform(X_train), columns= train_rb_df.columns)
X_test =pd.DataFrame(data=scaler.transform(X_test), columns = train_rb_df.columns)

In [65]:
lr.fit(X_train,y_train)

LinearRegression()

In [66]:
y_pred = lr.predict(X_test)

In [71]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))

In [72]:
rmse

5.1935750623719544e-14

In [73]:
lr.coef_

array([-5.74765616e-16,  1.98065438e-15, -5.70033655e-15,  3.88576422e+01,
        1.42504122e-15,  2.12186186e+01, -1.13674304e-13,  2.10030264e+01,
        5.37007573e-15,  8.79111289e-15, -8.41307713e-15, -2.12054680e-14,
        1.93698178e-14])

In [79]:
lr_coef01 = pd.DataFrame(data=lr.coef_)
lr_coef01 = lr_coef01.set_index(X_train.columns)
lr_coef01 = lr_coef01.sort_values(by = 0, ascending = False).T

In [81]:
lr_coef01.T

                         0
RushingYDs    3.885764e+01
RushingTD     2.121862e+01
Rec           2.100303e+01
TotalTD       1.936982e-14
Y/R           8.791113e-15
ReceivingYDs  5.370076e-15
G             1.980654e-15
Y/A           1.425041e-15
Age          -5.747656e-16
RushingAtt   -5.700337e-15
ReceivingTD  -8.413077e-15
FL           -2.120547e-14
Tgt          -1.136743e-13